<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zqf.day01_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".multiprocess.SecondService"
            android:process=":second" />
        <service
            android:name=".multiprocess.ThirdService"
            android:process="com.zqf.third" />

        <!---->
        <activity
            android:name=".startupmode.FourActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance" />

        <activity
            android:name=".startupmode.FiveActivity"
            android:launchMode="standard"/>

    </application>

</manifest>